@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form id="encode" method="get" enctype="multipart/form-data">
    <input type="file" name="" id="uploadTest">
    <input type="submit" value="Submit">
    <p id="base64"></p>
</form>

<form id="decode">
    <input type="text" name="" id="stringBase64">
    <input type="submit" value="Submit">
    <img src="" alt="" srcset="" width="200">
    <a download="chart.png" id="downloadPNG">Export img</a>
</form>


